<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<head>
	<title>Live Prices</title>
	<link th:href="@{/resources/css/main.css}" type="text/css" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/resources/js/quoteManager.js}"></script>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Symbol</th>
				<th>Bid</th>
				<th>Ask</th>
				<th>Change</th>
				<th>Update Time</th>
			</tr>
		</thead>	
		<tbody>
			<tr th:each="quote : ${quotes}" th:id="${quote.symbol}">
				<td th:text="${quote.symbol}" />
				<td th:text="${quote.bid}" />
				<td th:text="${quote.ask}" />
				<td th:text="${quote.change}" />
				<td th:text="${quote.lastTradeTime}" />
			</tr>
		</tbody>
	</table>	
</body>
</html>