<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<head>
	<title>Live Prices</title>
	<link th:href="@{/resources/css/main.css}" type="text/css" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/resources/js/quoteManager.js}"></script>
</head>
<body>
	<table>
		<caption>Stock Quotes Live!</caption>
		<thead>
			<tr>
				<td>Symbol</td>
				<td>Bid</td>
				<td>Ask</td>
				<td>Change</td>
				<td>Update Time</td>
			</tr>
		</thead>	
		<tbody></tbody>
	</table>
</body>
</html>