<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<head>
	<title>Live Prices</title>
	<link th:href="@{/resources/css/main.css}" type="text/css" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/resources/js/quoteManager.js}"></script>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Symbol</th>
				<th>Bid</th>
				<th>Ask</th>
				<th>Change</th>
				<th>Update Time</th>
			</tr>
		</thead>	
		<tbody>
			<tr th:each="quote : ${quotes}" th:id="${quote.symbol}">
				<td class="cell" th:text="${quote.symbol}"></td>
				<td class="cell highlight" th:text="${quote.bid}"></td>
				<td class="cell highlight" th:text="${quote.ask}"></td>
				<td class="cell" th:text="${quote.change}"></td>
				<td class="cell" th:text="${quote.lastTradeTime}"></td>
			</tr>
		</tbody>
	</table>	
	<div class="menu">
		<button id="pollButton">Start</button>
	</div>
	
</body>
</html>